/**********GENERAL**********/

body {
    overflow: hidden;
}

p {
    font-size: 18px;
    padding: 0 8% 0;
}

.main-window {
    text-align: center;
}

a:link {
    text-decoration: none;
}

.itc {
    font-style: italic;
}

.bld {
    font-weight: 400;
}

.bold {
    font-weight: bold;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

[class$="-button"] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    
    -moz-user-select: none;
    /* Firefox all */
    
    -ms-user-select: none;
    /* IE 10+ */
    
    user-select: none;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .main-window p {
        font-size: 20px !important;
    }
}

/***********FONTS***********/

.logoName,
#skills h3,
.preDiv h2,
.navbar-nav,
#aboutface h3,
#aboutface h4,
.myResume h3 {
    font-family: "Raleway", sans-serif;
}

#bigJoe p,
.section-title {
    font-family: "Josefin Sans", sans-serif;
}

h2.sectiontitle, 
.projects h4,
.modal-title h4,
.bkdown h4 {
	font-family: "Lato", sans-serif;
}

p,
.inner-footer h3 {
    font-family: "Oxygen", sans-serif;
}

/**********COLORS**********/

#preload, 
#nojs {
    background-color: #1B2837;
}

.sectiontitle,
#nojs {
    color: #414B5B;
}

.navbar.opaque,
#projects,
#footer,
.nojs-button,
.inner-footer {
    background-color: #253C56;
}

.navbar-default, 
.preBar {
    background-color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a,
.navbar.opaque .navbar-nav > li > a,
.navbar.opaque .navbar-brand,
.whiteT,
.logoName,
.prodes,
#bigJoe p, 
.preDiv h2,
.nojs-button p,
.copyright,
.stats-button {
    color: #fff;
}

.myResume h3, 
.position p, 
.position h5,
.legend-item h6,
.bkdown h4,
.education {
    color: #415962;
}

.skills p {
	border-color: #96A5B1;
}

.bkicon path,
.detail path {
    fill: #2188FF;
}

.reportcard-button,
.resume-button,
#info a:hover, 
.modal-close-button {
	color: #2188FF;
}

.reportcard-button:hover,
.resume-button:hover,
.modal-close-button:active {
	color: #3268A4;
}

.skills p,
.bkdown p {
    color: #4B6573;
}

.legend-item p,
#info a {
    color: #618193;
}

.footer-cushion {
    background-color: #3D648E;
}

/**********NAVBAR**********/

.navbar-default .navbar-nav > li > a {
    font-size: 20px;
}

.navbar-default {
	border-color: #e7e7e7;
}

.navbar-brand {
    margin-top: 7px;
    overflow: hidden;
}

.trans #menu-drop {
        background: transparent;
    }

.navicon {
	width: 50px;
    height: 60px;
    position: fixed;
    top: -2px;
}

.navicon .amlogo {
    stroke: #fff;
}

.navicon svg {
    height: 100%;
    width: 100%;
    display: none;
}

.logoName {
    font-size: 180%;
    display: none;
}

#menu-drop {
	overflow: hidden;
}

/* Transition on scroll*/

.navbar.opaque {
    transition: background-color 0.6s ease 0s;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 2px 3px rgba(34, 25, 25, 0.2), 0 2px 3px -0.5px rgba(34, 25, 25, 0.2), 0 4px 3px -2px rgba(34, 25, 25, 0.2);
}

.navbar.opaque .navbar-nav > li > a {
    transition: color 0.5s ease 0s;
}

.navbar.trans {
    background: transparent;
    transition: background-color 1s ease 0s;
    /* Transition effect to fade in*/
    
    border: none;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: none;
    position: fixed;
}

li.topbar {
    text-align: center;
    display: none;
}

/**********  NAVBAR (max - 799px)  **********/

@media (max-width: 799px) {
    
    .trans #menu-drop {
        background: transparent; /*linear-gradient( rgba(0,0,0,0.125) 70%, transparent);*/
    }
}

/**********  NAVBAR (min - 800px)  **********/

@media (min-width: 800px) {
    li.topbar {
        font-weight: bold;
        float: left;
        font-size: 40px;
    }
    
    ul.navbar-nav {
        margin: 6px auto 0;
        float: right;
        padding-right: 5px;
        vertical-align: middle;
    }

}

/**********HAMBURGER ANIMATION**********/

.navbar-toggle {
    border: 0px solid #fff;
    border-radius: 100%;
    padding-bottom: 18px;
    background: transparent !important;
    position: relative;
    display: none;
}

#hamburger {
    margin: 1px auto -15px;
    width: 25px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 1px;
    width: 50%;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

#hamburger span:nth-child(even) {
    left: 50%;
    border-radius: 0;
}

#hamburger span:nth-child(odd) {
    left: 0px;
    border-radius: 0;
}

#hamburger span:nth-child(1),
#hamburger span:nth-child(2) {
    top: 2px;
}

#hamburger span:nth-child(1) {
    top: 6px
}

#hamburger span:nth-child(3),
#hamburger span:nth-child(4) {
    top: 7px;
}

#hamburger span:nth-child(5),
#hamburger span:nth-child(6) {
    top: 12px;
}

#hamburger.open span:nth-child(1),
#hamburger.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(2),
#hamburger.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(1) {
    left: 2px;
    top: 7px;
}

#hamburger.open span:nth-child(2) {
    left: 45%;
    top: 3px;
}

#hamburger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#hamburger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#hamburger.open span:nth-child(5) {
    left: 2px;
    top: 12px;
}

#hamburger.open span:nth-child(6) {
    left: 45%;
    top: 12px;
}

#bigJoe {
    display: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.patio {
    position: absolute;
    object-fit: cover;
    width: 120%;
    height: 110%;
    top: 0;
}

#bigJoe p {
    top: 45%;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 100;
    display: none;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    chichi
}

.arrowhome {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 88%;
    width: auto;
    height: 60px;
    padding: 5px;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 100%;
}

.arrowhead {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 120px;
    height: 80px;
    margin: auto;
}

#navline {
    background: #ff4858;
    display: none;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0px;
    height: 2px;
}

svg.social-icon {
    width: 16%;
    max-width: 65px;
    height: auto;
    max-height: 65px;
    margin: auto 6px;
    padding: 0.5%;
}

.icon-logo {
    fill: #6A809B;
}

@media (min-width: 800px) {
    #navline {
        display: inline;
    }

    .navvbar-toggle {
        display: none;
    }

}

/**********GENERAL SECTIONS**********/

h2.sectiontitle {
	font-weight: 300;
    font-size: 47px;
    margin-bottom: 25px;
    padding-top: 10px;
}

.main-section {
    overflow: auto;
}

/**********ABOUT ME**********/

#aboutme img {
    border-radius: 100%;
    min-width: 160px;
    width: 25%;
    max-width: 230px;
    height: auto;
    margin-top: 20px;
}

#aboutface h3 {
    font-size: 30px;
}

#aboutface h4 {
    font-size: 20px;
    margin-top: -10px;
}

#aboutme .widescreen {
    display: none;
}

#aboutface {
    margin: 3%;
}

.mybio {
    text-align: justify;
}

#aboutface hr {
    display: block;
    margin: 20px auto;
    border: 0;
    height: 1px;
    background: #A4B0BE;
}

#aboutface .social-icon {
	color: #1C5A95;
	padding: 10px;
	font-size: 35px;
} 

#aboutface .social-icon:hover {
	color: #1C5A95;
}

#aboutface .icopy {
	z-index: 2;
	position: absolute;
	margin-top: -10px;
	margin-left: -55px;
	opacity: 0;
	background: linear-gradient(-45deg,  #81F3FD, #5BCAFF 5%, #196BD6);
    background: -webkit-linear-gradient(-45deg,  #81F3FD, #5BCAFF 5%, #196BD6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 1200px) {
    #aboutface hr,
    #aboutsum h2 {
        display: none;
    }

    #aboutme .widescreen {
        display: block;
    }

    #aboutface {
        float: right;
    }

    #aboutface h3 {
        font-size: 35px;
    }

    #aboutface h4 {
        font-size: 25px;
    }

    #aboutme img {
        width: 220px;
    }

    .mybio {
        width: 75%;
    }

    .mybio:nth-child(even) {
        margin-top: 12%;
    }

}

/**********SKILLS**********/

#skills {
	padding-bottom: 10%;
}

.chart {
    display: inline;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px 2.5% 0;
    position: relative;
}

#skills h3 {
    margin: 70px auto 40px;
    font-size: 30px;
}

.bkicon {
    height: 25%;
    width: 25%;
}

.ping {
    height: 35%;
    width: 35%;
    padding-top: 5px;
}

.bkdown {
    margin-top: 20%;
}

.bkdown h4 {
    font-size: 24px;
    font-weight: 400;
    margin: 18px 8%;
    width: 80%;
}

.bkdown p {
    text-align: left;
}

@media (min-width: 800px) {
    #skills {
        overflow: auto;
    }

    #skillsChart {
        float: left;
        margin-right: 5%;
        width: 27%;
        bottom: 0;
    }

    #skills p {
        display: block;
        width: 68%;
        overflow: hidden;
        right: 0;
        margin-top: 10px;
        margin-left: 25%;
        padding-right: 5%;
    }

    .bkicon {
        margin-top: 10px; 
        width: 15%;
        max-width: 100px;
        float: left;
        margin-left: 10%;
        display: inline;
        position: absolute;
        left: 0;
    }

    .ping {
        width: 150px;
        height: auto;
        display: inline; 
    }

    #skillsum {
        width: 68%;
        float: right;
        position: relative;
        display: inline;
        right: 0;
    }

    .bkdown {
        margin-top: 0;
        margin-bottom: 75px;
    }

    .bkdown h4 {
        display: block;
        width: 68%;
        text-align: left; 
        overflow: hidden;
        right: 0;
        margin-top: 10px;
        margin-left: 25%;
        padding-right: 2%;
        padding-left: 8%;
    }
}

/**********PROJECTS**********/

/***MODAL***/

#promodal {
	height: 100vh;
	width: 100%;
	background-color: #F9F9F9;
	position: fixed;
	display: none;
	text-align: left;
	top: 0;
	z-index: 3000;
	overflow: hidden;
}

.modal-close-button {
	margin: 10px 5px;
	text-align: center;
	position: absolute;
	right: 0;
	width: 50px;
}

.modal-title h4 {
	font-size: 26px;
	width: 80%;
	margin: 40px auto 0;
	display: block;
}

.modal-title p {
	font-size: 11px;
}

.modal-body {
	height: 70%;
	width: 100%;
	display: block;
	position: absolute;
}

.modal-body img {
	height: 40%;
	width: auto;
	margin: 0 auto;
	display: block;
}

.modal-wrapper {
	overflow: auto;
	height: 60%;
}

.modal-button a {
	width: 120px; 
	padding: 6px 0;
	text-align: center;
	margin: 10px auto;
	display: block;
}

@media (min-width: 800px) {
	.modal-title h4 {
	    font-size: 36px;
	    text-align: center;
	}
	
	.modal-close-button {
		margin-right: 20px;
	}
	
	.modal-body img {
	    height: 60%;
	}
	
	.modal-wrapper {
		height: 50%;
		width: 65%;
		margin: 0 auto;
		display: block;
	}
	
}
/***MODAL***/

.projects {
    width: 85%;
    overflow: hidden;
    margin: 0 auto 25px;
    border-radius: 5%;
    border: 1px solid #2188FF;
}

.projects a:hover,
.projects a:focus {
    text-decoration: none;
}

.prodes {
    margin-bottom: -37px;
    padding-top: 30px;
    border-radius: 4.4%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
    position: relative;
    text-align: left;
}

.projects h4 {
    margin-left: 10px;
    font-size: 26px;
    text-align: left;
}

.prodes p {
    display: none;
}

.thumb {
    width: 100%;
    height: auto;
}

@media (min-width: 800px) {
    .thumb {
        width: 100%;
        height: auto;
    }

    .projects {
        width: 30%;
        max-width: 200px;
        display: inline-block;
        margin: 2.5% 5%;    
    } 
    
}

/*******************MY RESUME*******************/

.myResume {
    margin: 50px 10% 5%;
}

.position p,
.education p {
    padding-left: 0;
    font-size: 16.5px;
}

.myResume h3 {
    font-size: 33px;
    margin-bottom: -15px;
}

.reportcard-button {
    position: absolute;
    left: calc(50% - 62.5px);
    margin: -25px auto 0;
    padding-top: 10px;
    height: 40px;
    width: 125px;
}

.resume-summary {
    margin-bottom: 45px;
    color: #6F7C82;
}

.section-title {
    text-transform: capitalize;
    text-align: left;
    font-size: 28px;
    color: #304750;
}

.experience {
    text-align: left;
}

.position {
    margin-bottom: 45px;
}

.date {
    margin-top: -13px;
}

.position h5 {
    font-weight: 400;
    font-size: 20px;
}

.highlights li {
    margin-top: 20px;
    list-style: circle;
    font-size: 16px;
    color: #6F7C82;
}

.education {
	text-align: left;
}

.degree {
	margin-bottom: 35px;
}

.education h6 {
    font-size: 16.5px;
}

.education h5 {
    font-weight: 400;
    font-size: 20px;
}

.skills {
    width: 100%;
}

.skills p {
    display: inline-block;
    border-radius: 2px;
    border: 2px solid;
    margin: 7.5px 2.5%;
    padding: 0 5px;
    width: 60%;
    max-width: 250px;
}

.resume-button {
	margin: 20px auto;
	line-height: 40px;
	height: 40px;
    width: 125px;
}

@media( min-width: 800px) { 
	.highlights li {
		width: 75%;
	} 
	
	.position { 
		margin-left: 1.5%;
	}
} 
/*******************REPORT CARD*******************/

.subtext {
    font-size: 15px;
}

.palette {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left: 0;
    display: inline;
}

#legend {
    border-top: 1px solid #E4E4E4;
}

.legend-item {
    margin-top: 40px;
}

.legend-item h6 {
    text-align: left;
    margin: -40px 0 auto 40px;
    font-size: 25px;
}

.legend-item p {
    text-align: left;
    margin-left: 20px;
}

#badges img {
    display: inline;
    width: 15%;
    margin: 2.5%;
}

h3.total {
    font-size: 90px;
    padding-bottom: 15px;
}

@media (min-width: 800px) {
    #skillsResume {
        max-width: 500px;
        left: -50%;
        margin-left: calc(50% - 250px);
    }
    
    #legend { 
        float : left;
        width : 50%; 
        border: none; 
    } 

    .legend-item {
        max-width: 100%;
    }

    .legend-item p {
        margin-left: 20px;
    }
    
    .legend-item h6 {
        margin-left: 60px;
    }
    
    .point-section {
        border-bottom: 1px solid #E4E4E4;
    } 
    
    #badges {
        float: right;    
        width: 50%;
        top : 0; 
    }

}

/*******************CONTACT SECTION*******************/

#contact {
	padding-bottom: 150px;
}

#info {
	padding-top: 35px;
}

.detail {
	margin-bottom: 35px;
	padding: 5px 10%;
}

.detail p {
	text-align: left;
	margin-left: 26px;
	opacity: 0;
}

.detail svg {
	width: 40px;
	float: left;
	margin-top: -5px;
	display: none;
}


/*******************FOOTER*******************/

#footer {
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    margin-bottom: 0;
}

#footer div {
    position: relative;
}

.footer-cushion {
    width: 100%;
    height: 7px;
}

.inner-footer {
    position: relative;
    width: 100%;
    margin-top: 5px;
}

.stats-button {
    border: 1px solid #00ABFF;
    border-radius: 5px;
    width: 150px;
    margin: 15px auto 0;
    display: none;
}

.stats-button p {
    margin: 5px auto;
    font-size: 120%;
}

.copyright {
    position: relative;
    margin-top: 10px;
    bottom: 0;
    font-size: 13px;
}

.inner-footer h3 {
    margin-bottom: 10px;
}

/***********NO JAVASCRIPT***********/

body {
    overflow: hidden;
    position: fixed;
}

#nojs {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    margin: 5% 2.5% 0;
    display: none;
}

#nojs img {
    max-width: 350px;
    width: 50%;
}

#nojs h2 {
    font-size: 21px;
    padding: 0 6% auto;
}

.nojs-button {
    width: 150px;
    border-radius: 5px;
    border: 1px solid #2188FF;
    display: inline-block;
}

.nojs-button p {
    margin-top: 5px;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
}

/***********PRELOADING SCREEN***********/

#preload {
    overflow: hidden;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    z-index: 2000;
    -webkit-backface-visibility: hidden;
}

.preDiv {
    position: fixed;
    margin: auto;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0;
}

.preDiv h2 {
    font-size: 3em;
    padding-top: 7%;
    display: none;
    text-align: center;
    position: relative;
    right: 0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.preBar {
    width: 3%;
    height: 2px;
    position: absolute;
    margin: 10px 7% auto;
    display: none;
}

.preSection {
    bottom: 5%;
    width: 100%;
    position: absolute;
}

.prelogo {
    text-align: center;
    position: relative;
    max-width: 500px;
    display: block;
    top: 0;
    margin: 0 auto 5%;
    height: 50%;
}

.preDiv svg {
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    opacity: 0;
}

.preDiv .amlogo {
    opacity: 0;
}
